
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Planets</h2>
<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("CreatePlanet", "Planet")'">
    New Planet
</button>



<table id="planets" class=" table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Planet
            </th>
            <th>
                Type
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
    {
    <script>
        $(document).ready(function () {
            var table = $("#planets").DataTable({
                ajax: {
                    url: "/api/planet",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, planet) {
                            return "  <a href = 'EditPlanet/" + planet.id + "'>" + data + "</a>";

                        }

                    },
                    {
                        data: "planetsType.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "  <button planet-id= " + data + " class='btn-link js-delete'>Delete</button> ";
                        }
                    }
                ]
            });
            $("#planets").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are sure you want to delete this planet?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/planet/" + button.attr("planet-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();

                            }
                        });
                    }
                });
            })
        })
    </script>
}

